<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zevrant.services.zevrantandroidapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:name=".ZevrantAndroidApp"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZevrantAndroidApp"
        tools:ignore="HardcodedDebugMode">
        <!--        <activity-->
        <!--            android:name=".activities.MediaViewer"-->
        <!--        android:exported="true"-->
        <!--        android:label="@string/title_activity_media_viewer"-->
        <!--        android:theme="@style/Theme.ZevrantAndroidApp.NoActionBar" />-->
        <!-- <activity -->
        <!-- android:name=".activities.PhotoViewer" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/title_activity_photo_viewer" -->
        <!-- android:theme="@style/Theme.ZevrantAndroidApp.NoActionBar" /> -->
        <activity
            android:name=".activities.ZevrantServices"
            android:label="@string/title_activity_main">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zevrant-services"

                    android:scheme="zevrant" />
            </intent-filter>
        </activity>

    </application>

</manifest>